{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l"> GOV.UK Prototyping examples</h1>
    <p class="govuk-body--l">Please note there are many ways to acheive similar results, These are just the methods I use.</p>

    <table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Example</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Description</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-half">Files to look at</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="example1/index">Versioning</a>
          <td class="govuk-table__cell">The ability to create multiple independent versions of an iterative prototype.</td>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>individual version folders <a href="https://github.com/MPK-13/prototyping-examples/tree/main/app/views/example1">app > views > example1</a></li>
              <li>the overarching routes file <a href="https://github.com/MPK-13/prototyping-examples/tree/main/app/routes.js">app > routes.js</a></li>
              <li>the individual routes files within the version folder <a href="https://github.com/MPK-13/prototyping-examples/tree/main/app/views/example1/_routes.js">app > views > example1 > _routes.js</a></li>
            </ul>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="example2/index">Creating error message in HTML</a>
          <td class="govuk-table__cell">Testing error messages with users.</td>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>individual version folders <a href="https://github.com/MPK-13/prototyping-examples/tree/main/app/views/example2">app > views > example2</a></li>
            </ul>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

{% endblock %}
